  :root {
    --color-main: #003366;
    --color-neutral: rgb(255, 255, 255);
    --color-highlight-one: #E63946;
    --color-highlight-two: #BB1824;
    --color-highlight-three: rgb(250,175,64);;
  }

html {
  max-width:1440px
}

body {
	    background-color: var(--color-neutral);
}

.page {
	min-height:calc(100% - 130px);
	text-align:center;
}

h1, h2, h3, p, a, li, button, input, option, select {
			font-family: 'Raleway', sans-serif;
			}

	h1{
			font-size:2em;
    color:var(--color-neutral);
    background-color:var(--color-main);
			padding-top:20px;
			padding-bottom:20px;
			text-transform: uppercase;
    			letter-spacing: 3px;
		}

h2 {
		font-size:1.8em;
  color:var(--color-main);
			letter-spacing:2px;
			padding-top:20px;
			padding-bottom:20px;
			text-transform: uppercase;
  		}

		h3 {
			font-size:1.5em;
      color:var(--color-highlight-two);
			letter-spacing:2px;
			padding-top:20px;
			padding-bottom:20px;
			text-transform: uppercase;
		}
		p {
			font-size:1em;
      color:var(--color-main);
			letter-spacing:0px;
				}

a {
			    color: var(--color-highlight-one);
			font-weight:500;
   			text-decoration: none;
				}
		a:hover {
			    color: var(--color-highlight-two);
			font-weight:500;
   		}
  
  
