  :root {
    --color-main: #003366;
    --color-neutral: rgb(255, 255, 255);
    --color-highlight-one: #E63946;
    --color-highlight-two: #BB1824;
    --color-highlight-three: rgb(250,210,64);
  }

* {
  box-sizing: border-box;
}

html {
  max-width:1440px;
	height:100%;
}

body {
	    background-color: var(--color-neutral);
	height:100%;
	    display: block;
    margin: 0;
}

.page {
	min-height:calc(100% - 130px);
	text-align:center;
}

.section {

}

h1, h2, h3, p, a, li, button, input, option, select {
			font-family: 'Raleway', sans-serif;
			}

	h1{
margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 2em;
    color: var(--color-neutral);
    background-color: var(--color-main);
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 50px;
		}

h2 {
		font-size:1.8em;
  color:var(--color-main);
			letter-spacing:2px;
			padding-top:20px;
			padding-bottom:20px;
			text-transform: uppercase;
  		}
.bar {
background-color: var(--color-highlight-three) !important;
    height: 0.8em;
    margin: auto 0px !important;
}

		h3 {
			font-size:1.5em;
      color:var(--color-highlight-two);
			letter-spacing:2px;
			
			text-transform: uppercase;
		}
		p {
			font-size:1em;
      color:var(--color-main);
			letter-spacing:0px;
				}

a {
			    color: var(--color-highlight-one);
			font-weight:500;
   			text-decoration: none;
				}
		a:hover {
			    color: var(--color-highlight-two);
			font-weight:500;
   		}
  /* ------------------------- NAV MOBILE ----------------------------*/

.desktop {
	float:left;
	max-height:50px;
}

.desktop > h2 {
	margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 1.6em;
    color: var(--color-main);
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: left;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    line-height: .9em;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 2px;
}
.topnav {
  overflow: hidden;
  background-color: var(--color-neutral);
	padding: 10px;
}

.topnav a {
   float:left;
	display: block;
  color: var(--color-main);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:first-child {
	padding:0;
	min-width:175px;
}
.topnav a:not(:first-child) {
    float: right;
}
	  
	  
.topnav a:hover {
  color: var(--color-highlight-one);
}

.topnav a.active {
  color: var(--color-highlight-two);
}

.topnav .icon {
  display: none;
	var(--color-main)
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
	   width: auto;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
	  .topnav.responsive a {
    text-align: right;
	  width:100%;
	  display:block !important;
		    text-align:right;
  }

}
/* --------------------------------LINKS--------------------*/
	.blue {
		display:none;
	}
	.grey { 
		display:block;

}
	a:hover > .blue {
		display:block;
	}
	a:hover > .grey { 
		display:none;
	
	}
a:hover > h3 {
	filter: brightness(85%);
}


/* --------------------------------FLEX GRID--------------------*/

.flex-grid {
  display: flex;
  flex-direction: row;
  text-align: center;
	flex-wrap: wrap;
}

.flex-grid.section {
  max-width:1024px;
	margin:auto;
}

.flex-item {
  background-color: transparent;
  padding: 10px;
  margin:10px;
  flex: 1;
}

.flex-item.services {
background-color: transparent;
    flex: 1 0 50%;
    margin: 0 auto 20px;
	display:flex;
}
.flex-item.services > div {
    max-width: 200px;
	margin: 0 auto;
	 flex: 1 0 50%;
	    padding: 20px;

}

.flex-item.h2 {
flex: 2;
    min-width: 200px;
    max-width: 500px;
    color: var(--color-main);
    border: 0.2em solid var(--color-highlight-three);
    padding: 10px 0;
    margin: 10px auto;
}



/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 768px) {
  .flex-grid:not(.h2)  {
     display: flex;
        flex-wrap: wrap;
  }
	.flex-item.services {
		flex: 1 0 100%;
    padding: 0;    
	}
	.nav-grid {
		display:block;
	}
	
	.flex-item.icon {
		display:block;
		    text-align:right;
	}
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 414px) {
.flex-item.services {
	    flex-direction: row;
	    margin: 0 auto;
	    padding: 0;
	}
	.flex-item.services > div {
			    padding: 0 20px;

    max-width: 300px;
}
}
/* --------------------------------IMAGES--------------------*/
.logo {
	max-height:50px;
	float:left;
}

img {
	max-width:100%
}

